/* src/assets/styles/theme.css */
.home-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08070b; /* Dark Background */
  padding: 20px;
  color: #e6e5ea;
}

.generator-wrapper {
  width: 100%;
  max-width: 450px; /* This prevents the "stretched" look in your screenshot */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controls-container {
  background-color: #24232c;
  padding: 1.5rem 2rem;
  border-radius: 4px;
}